table { 
	border: 1px solid #E6EE9C;
	background-color: #FFF;
	width: 100%;
	margin-top: 10px;
	margin-left: 30px;
	margin-right: auto;
}

th {
	background-color: #CDDC39;
	font-family: 'Orbitron', sans-serif;
	text-align: left;
	padding-right: 20px;
}

table tr:nth-child(even){ 
	background-color: #F0F4C3;
}

td {
	border: 1px solid #E6EE9C;
	padding: 0px 5px;
}
	
td a {
	color: blue;
	text-decoration: none;
}

#modal {
    display: none;
    position: absolute;
    left: 0px;
    top: 0px;
    width:100%;
    height:100%;
}

#modalMask {
    position: absolute;
    left: 0px;
    top: 0px;
    width:100%;
    height:100%;
    background-color: #eee;
    z-index: 1000;
    opacity: 0.9;
    filter:alpha(opacity=90);
    -moz-opacity: 0.9;
}

#modalContent {
    position: relative;
    width:300px;
    margin: 15px auto;
    padding:15px;
    background-color: #fff;
    border:1px solid #000;
    z-index: 9999;
}

.edit-form {
	position: relative;
	width: 300px;
}

label {
	display: block;
	width: 100%;
}
	
label span {
	float: left;
	display: block;
	text-align: right;
	width: 110px;
	padding: 0 10px;
}

input[type="text"] input[type="submit"] {
	float: left;
	text-align: right;
}
